%h1.home_h1 HEAVY METAL

%p.home_p Heavy Metal is a Capture the Flag team management simulation. You take the role of the commanding officer of a team, and must manage squad selection, soldier development, and injuries in order to conquer your enemies (a league full of teams managed by your friends).

%p.home_p Draft soldiers, select your starting squads for each match, and review their performance in simulated matches. Players improve with experience, but will leave if they think you aren’t giving them enough playing time.

%h2 Can you lead your team to victory?

- unless user_signed_in?
  #ready= link_to "I want to enlist!", new_user_registration_path
