.alert, .notice {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 5px;
}

.alert {
  color: black;
  background-color: #FF9999;
}

.notice {
  color: black;
  background-color: #B2FFB2;
}
